@model BlackBeltApp.Models.Faixa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faixa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_max_faixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_max_faixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_min_faixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_min_faixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_aula_faixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_aula_faixa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
